# List

- Lists are ordered sequences that can hold a variety of object types.
- They use square brackets and commas to seperate obejects in the list.
    for example [1,2,3,4,5]
-  Lists support indexing and slicing.Lists can be nested and also have variety of useful methods that can be called off of them.

In [4]:
list=[10,20,30,40]
list

[10, 20, 30, 40]

# if statement using list

In [44]:
x=8
if list[0] > x :
    print("Value is greater")
else:
    print("value is smaller")

value is smaller

#  For loop using list

In [10]:
my_list=[1,2,3,4,5,6,7]

In [25]:
for x in my_list:
    if x % 2 == 0:
        #.format() method is good way to format objects into your strings for print statements 
        print "{} is even".format(x) 
    else:
        print "{} is odd".format(x)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd

# Lambadas using list

In [65]:
A = [1,2,3,4]
#map function applies a passed-in-function to each item in an iterable object
results = map(lambda x: x*2, A)
results

[2, 4, 6, 8]

- List is mutable object, a mutable object can change its state or contents

In [38]:
#Example of list mutablity
new_list=[1,2,3,4,50,6]
#after changing the element
new_list[4]=5
new_list

[1, 2, 3, 4, 5, 6]

# Tuples

 - Tuples are very similar to lists. However they have one key difference -immutablity.
 - Once an element is inside a tuple, it can not be reassigned.
 - Tuples use parenthesis: (1,2,3)

In [49]:
my_tuple=(10,-20,30,-40)
type(my_tuple)

tuple

# if and for statment using tuple

In [54]:

for x in my_tuple:
    if  x > 0:
        print("Value in tuple is positive")
        
    else:
        print("Value in tuple is negative")

Value in tuple is positive
Value in tuple is negative
Value in tuple is positive
Value in tuple is negative

# Lambdas using Tuple

In [64]:

results = map(lambda x: x+20, my_tuple)
results

[30, 0, 50, -20]

As we said that tuple are immutable, lets see the example

In [61]:
new_tuple=('ONE','TWO','THREE','FOUR')
new_tuple

('ONE', 'TWO', 'THREE', 'FOUR')

In [62]:
#trying to change the first value of tuple
new_tuple[0]='New Value'

TypeError: 'tuple' object does not support item assignment

- References:
- https://docs.python.org/2/reference/simple_stmts.html
- https://stackoverflow.com/questions/12018992/print-combining-strings-and-numbers
- https://docs.python.org/3/library/stdtypes.html#str.format
- https://www.python-course.eu/python3_lambda.php
- https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747